.App {
  margin:0px;
  /* background-color: black; */
}

.card-area{
  width:100vw;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  /* margin-top:5px; */
  background-color: black;
}
